<html>
<head>
    <title>EZ gas</title>
    <link rel="icon" href="static/favicon.png" type="image" sizes="16x16">
    <link rel="stylesheet" href="styles/style.css">
    <style>
    .button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    }
    .container3{
  margin-left: 20%;
  margin-right:20%;
  padding: 30px 30px;
  background-color: black;
  }
    
    </style>
</head>
<body bgcolor=#0f0f0f>
<font color=white>
<div class = container3>
    <div> 
      <a href='admin'>Admin Portal</a>
        <center>
        <img src="static/EzgasLogo.png" height=232 width = 656>
    </div> 
    <div>
        <center>
          {% if user.is_authenticated %}
          <a href='bookgas'>Book Gas</a>
          <a href='session_end'>Log Out</a>
          {% else %}
          <h1>Welcome to EZ gas</h1>
        <a href='login' class=button><button class=button>Login</button></a>
        <a href='register'class=button><button class=button>Register</button></a>
    </div><br>
    <br><br>
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert" style="color:red">
        <strong>Alert:</strong> {{ message }}
    </div>
    {% endfor %}
    <br><br><br><br><br><br><br><br><br><br>
        <footer>
        <small><center>Copyright &copy; 2021 || Designed By Prakhar, Priyanshu Yadav, Elitex, Dang3R || </center></small>
    </footer> 
    {% endif %}
</body></html>